Repository zcash/wallet, pull requests merged in 2025-06, with the labels that each got.

#173 rpc: Fix `z_listunspent` memo output to not truncate null bytes
  zallet/src/components/json_rpc/methods/list_unspent.rs
Labels: A-rpc-interface, C-bug

#172 rpc: Replace `f64`s with a type that wraps `Decimal`
  Cargo.lock
  Cargo.toml
  supply-chain/audits.toml
  supply-chain/imports.lock
  zallet/Cargo.toml
  zallet/build.rs
  zallet/src/application.rs
  zallet/src/commands/example_config.rs
  zallet/src/commands/generate_mnemonic.rs
  zallet/src/commands/import_mnemonic.rs
  zallet/src/commands/init_wallet_encryption.rs
  zallet/src/commands/migrate_zcash_conf.rs
  zallet/src/commands/start.rs
  zallet/src/components/chain_view.rs
  zallet/src/components/json_rpc/methods/get_address_for_account.rs
  zallet/src/components/json_rpc/methods/get_wallet_info.rs
  zallet/src/components/json_rpc/methods/list_unspent.rs
  zallet/src/components/json_rpc/methods/view_transaction.rs
  zallet/src/components/json_rpc/methods/z_get_total_balance.rs
  zallet/src/components/json_rpc/methods/z_send_many.rs
  zallet/src/components/json_rpc/utils.rs
  zallet/src/components/sync/steps.rs
  zallet/src/config.rs
Labels: A-rpc-interface

#168 Add a `stop` RPC method for regtest mode usage
  Cargo.lock
  Cargo.toml
  zallet/Cargo.toml
  zallet/src/components/json_rpc/methods.rs
  zallet/src/components/json_rpc/methods/stop.rs
Labels: A-rpc-interface, A-testing
